<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <style type='text/css'>
        @page {
            size: A4;
            margin-top: 0;
            margin-bottom: 0;
        }

        * {
            font-family: 'Times New Roman';
            font-size: 12px;
        }

        .tg-oi4f {
            border: 0px solid black;
            margin-top: 1px;
        }

        .tg-aboz {
            border: 0px solid #deeaf6;
            margin-top: 1px;
        }

        .tableclass {
            position: relative;
            margin-left: 0px;
            margin-right: 2px;

        }

        .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #e2efd9ff;
        }
        .table-striped2 > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #deeaf6ff;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <!--            <img alt="" style="position: absolute; opacity: 0.1; width: 100%; height: 100%" src="https://bojxona.uz/img/gtk_image2.png"/>-->
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th style="width: 86%; font-size: 15px!important; vertical-align: center!important; text-align: center!important;">
                        Ўзбекистон Республикасига олиб кириладиган товарлар бўйича
                        тўланиши лозим бўлган божхона тўловлари миқдорини аниқлаш бўйича
                        <br style="font-size: 17px!important; vertical-align: center; horiz-align: center">ДАСТЛАБКИ
                        ҚАРОР</br>
                    </th>
                    <th style="width: 14%">
                        <img alt=""
                             class="m-20 w-100 text-center text-c-red"
                             style="width: 80px; height: 80px"
                             id='barcode'
                             th:src="@{${'https://api.qrserver.com/v1/create-qr-code/?data=' + url_qrCode +'&amp;size=200x200'}}"
                             title="${uncodId}"/>
                    </th>
                </tr>
                </thead>
            </table>
            <div class="col-md-12" style="min-width:300px; overflow-x: auto">
                <table style=" width: 100%; margin-left: auto; margin-right: auto;">
                    <tbody>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>1. Дастлабки қарорни рўйхатга олиш рақами ва санаси</b></td>
                        <td class="tg-aboz" th:text="${inDec.getInDecNum()} + '/' + ${inDec.getInDecDate()}"></td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>2. Дастлабки қарорни қабул қилган божхона органининг номи</b>
                        </td>
                        <td class="tg-aboz" th:text="${inDec.getInDecLocationNm()}"></td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>3. Манфаатдор шахс</b></td>
                        <td class="tg-aboz" th:text="${apps.getPersonFio()}"></td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>4. Дастлабки қарорнинг амал қилиш муддати</b></td>
                        <td class="tg-aboz" th:text="${inDec.getInDecDate()}"></td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>5. Товарнинг ТИФ ТН коди</b></td>
                        <td class="tg-aboz" th:text="${inDec.getHsCode()}"></td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="3"><b>6. Товарлар номи ва тавсифи:<p th:text="${inDec.getHsName()}"></p></b></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table-striped" style="width: 100%;  border-top: 1px solid #000;">
                                <tr>
                                    <td><b>Тижорат номи:</b><br>CORSAR Capucino</br></td>
                                    <td><b>Савдо белгиси:</b><br>CORSAR</br></td>
                                    <td><b>Маркаси:</b><br>CORSAR</br></td>
                                    <td><b>Модели:</b><br>Capucino</br></td>
                                    <td><b>Артикули:</b><br>artikul:9080</br></td>
                                </tr>
                                <tr>
                                    <td><b>Нави:</b><br>Папирус</br></td>
                                    <td><b>Стандарти:</b><br>ISO:6521</br></td>
                                    <td><b>Фойдаланиш мақсади:</b><br>Истемол қилиш</br></td>
                                    <td><b>Тижорат хцусусияти:</b><br>Улгуржи</br></td>
                                    <td><b>Техник хусусияти:</b><br>никотин 0,01</br></td>
                                </tr>
                                <tr>
                                    <td><b>Ўрам тури:</b><br>картонли коробкалар</br></td>
                                    <td><b>Урамлар сони:</b><br>18000.00</br></td>
                                    <td><b>Юк жойларининг умумий сони:</b><br>60.00</br></td>
                                    <td><b>Фактура киймати:</b><br>120 000</br></td>
                                    <td><b>Валюта коди:</b><br>840-АҚШ долл</br></td>
                                </tr>
                                <tr>
                                    <td><b>Брутто:</b><br>1 200 кг</br></td>
                                    <td><b>Нетто:</b><br>1 200 кг</br></td>
                                    <td><b>Қўш. ўл.бир. миқ.</b><br>796-дона</br></td>
                                    <td><b>Қўш. ўл.бир. коди:</b><br>796-шт</br></td>
                                    <td><b>Қўшимча:</b><br>--</br></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Илгари берилган БТ бўйича дастлабки қарор:</b><br>D-12035 / 2022-02-0</br></td>
                                    <td colspan="3"><b>ТИФ ТН бўйича дастлабки қарор:</b><br>ТН-12035 03.03.2022 й</br></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>7. Товарларнинг божхона қийматини аниқлаш усули ва уни
                            асослаш</b></td>
                        <td class="tg-aboz">1-усул</td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>8. Товарларнинг келиб чиқиш мамлакати ва уни асослаш</b></td>
                        <td class="tg-aboz">Россия</td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="3"><b>9. Божхона тўловлари ва йиғимлари тўғрисида маълумот</b></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table-striped2" style="width: 100%; border-top: 1px solid #000;">
                                <thead>
                                <tr>
                                    <th class="tg-oi4f">Код</th>
                                    <th class="tg-oi4f">Ҳисоблаш асоси</th>
                                    <th class="tg-oi4f">Ставка</th>
                                    <th class="tg-oi4f">Ҳос ставка (асос)</th>
                                    <th class="tg-oi4f">Ҳос ставка</th>
                                    <th class="tg-oi4f">Ҳисобланган тўлов</th>
                                    <th class="tg-oi4f">Тўлов усули</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td align="center" class="tg-oi4f">10</td>
                                    <td align="center" class="tg-oi4f">5 000 000.00</td>
                                    <td align="center" class="tg-oi4f">1 БҲМ</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">800 000.00</td>
                                    <td align="center" class="tg-oi4f">БН</td>
                                </tr>
                                <tr>
                                    <td align="center" class="tg-oi4f">20</td>
                                    <td align="center" class="tg-oi4f">5 000 000.00</td>
                                    <td align="center" class="tg-oi4f">10 %</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">800 000.00</td>
                                    <td align="center" class="tg-oi4f">БН</td>
                                </tr>
                                <tr>
                                    <td align="center" class="tg-oi4f">20</td>
                                    <td align="center" class="tg-oi4f">5 000 000.00</td>
                                    <td align="center" class="tg-oi4f">10 %</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">400 000.00 </td>
                                    <td align="center" class="tg-oi4f">OO</td>
                                </tr>
                                <tr>
                                    <td align="center" class="tg-oi4f">23</td>
                                    <td align="center" class="tg-oi4f">5 000 000.00</td>
                                    <td align="center" class="tg-oi4f">15 %</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">1 200 000.00</td>
                                    <td align="center" class="tg-oi4f">БН</td>
                                </tr>
                                <tr>
                                    <td align="center" class="tg-oi4f">29</td>
                                    <td align="center" class="tg-oi4f">5 000 000.00</td>
                                    <td align="center" class="tg-oi4f">15 %</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">-</td>
                                    <td align="center" class="tg-oi4f">600 000.00</td>
                                    <td align="center" class="tg-oi4f">ОО</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>10. Дастлабки қарорни қабул қилиш асослари</b></td>
                        <td class="tg-aboz">ТШББ-322</td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="3"><b>11. Манфаатдор шахс томонидан тақдим қилинган маълумотлар ва
                            хужжатлар рўйхати</b></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table-striped" style="width: 100%; border-top: 1px solid #000;">
                                <thead>
                                <tr>
                                    <th class="tg-oi4f">Тартиб рақами</th>
                                    <th class="tg-oi4f">Хужжат тури</th>
                                    <th class="tg-oi4f">ХисобландиХужжат рақами</th>
                                    <th class="tg-oi4f">Хужжат санаси</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td align="center" class="tg-oi4f">1</td>
                                    <td align="center" class="tg-oi4f">202</td>
                                    <td align="center" class="tg-oi4f">ИН-6534</td>
                                    <td align="center" class="tg-oi4f">02.02.2022й</td>
                                </tr>
                                <tr>
                                    <td align="center" class="tg-oi4f">1</td>
                                    <td align="center" class="tg-oi4f">207</td>
                                    <td align="center" class="tg-oi4f">ИН-6534</td>
                                    <td align="center" class="tg-oi4f">02.02.2022й</td>
                                </tr>
                                <tr>
                                    <td align="center" class="tg-oi4f">1</td>
                                    <td align="center" class="tg-oi4f">301-ИНВ</td>
                                    <td align="center" class="tg-oi4f">ИН-6534</td>
                                    <td align="center" class="tg-oi4f">02.02.2022й</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" colspan="2"><b>12. Қўшимча маълумотлар</b></td>
                        <td class="tg-aboz">--</td>
                    </tr>
                    <tr>
                        <td class="tg-oi4f" style="width: 44%"><b>13. Божхона органининг мансабдор шахси</b></td>
                        <td class="tg-aboz" style="width: 12%">
                            <img alt=""
                                 class="m-20 w-100 text-center text-c-red"
                                 style="width: 50px; height: 50px"
                                 id='barcode2'
                                 th:src="@{${'https://api.qrserver.com/v1/create-qr-code/?data=' + url_InsUsr +'&amp;size=200x200'}}"
                                 title="${uncodId}"/>
                        </td>
                        <td style="width: 44%">
                            <br>
                            <span style="font-weight:bold; margin-left: 17px">Бошқарма бошлиғи:</span>
                            <span style="margin-right: auto">Салимжонов.Н</span>
                            </br>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p style="text-indent: 1.5em!important;">
                Ушбу маълумотлар 30.03.2022 йилдаги Марказий банкининг валюталар курси бўйича ҳисоблаб чиқарилди. Валюта
                курси ўзгариши ҳисобига божхона тўловлари миқдори ўзгариши мумкин
            </p>
            <p style="text-indent: 1.5em!important;">
                Қўлланилган имтиёзлар ва божхона тўловлари ставкалари 30.03.2022 йилдаги Ўзбекистон қонун хужжатларини
                инобатга олиб ҳисобланади.
            </p>
        </div>
    </div>
</div>
</body>
</html>

